 /* The animation code */
@keyframes animatedSquare {
  0%   {background-color: rgb(123, 255, 0);}
  25%  {background-color: yellow;
        border-radius: 50%;}
  50%  {background-color:pink;}
  100% {background-color: turquoise;}
}

/* The element to apply the animation to */
#FacebookAnimation {
  width: 650px;
  height: 650px;
  background-color: pink;
  animation-name: animatedSquare;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;   
  animation-timing-function: ease-in-out;
} 
.facebooklogo{
  margin-left:25%;
  margin-top: 20%;
  width: 50%;
  height:50%;
}
